<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.DishMapper" >

    <!--更新菜品-->
    <update id="update">
        update dish
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>

            <if test=" categoryId != null ">
                category_id = #{categoryId},
            </if>

            <if test="price != null">
                price = #{price},
            </if>

            <if test="image != null and image != ''">
                image = #{image},
            </if>

            <if test="description != null and description != ''">
                description = #{description},
            </if>

            update_time = #{updateTime},
            update_user = #{updateUser},
        </set>
        where id = #{id}
    </update>

    <!--批量删除-->
    <delete id="deleteBatch">
        delete from dish where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>

    </delete>

    <!--分页查询菜品-->
    <select id="page" resultType="dishVO">
        select d.*,cg.name as categoryName from dish d left join category cg on d.category_id = cg.id
        <where>
            <if test="categoryId != null">
                and category_id =#{categoryId}
            </if>

            <if test="name != null and name != '' ">
                and d.name like concat ('%',#{name},'%')
            </if>

            <if test="status != null">
                and d.status = #{status}
            </if>
        </where>
        order by price asc
    </select>
</mapper>