<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.DishMapper" >

    <!--分页查询菜品-->
    <select id="page" resultType="dish">
        select *
        from dish
        <where>
            <if test="categoryId != null and categoryId != '' ">
                and category_id =#{categoryId}
            </if>

            <if test="name != null and name != '' ">
                and name =#{name}
            </if>

            <if test="status != null and status != ''">
                and status =#{status}
            </if>
        </where>
    </select>
</mapper>